<div style="text-align: center;">
    <h2>Simple blog</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title: </label>
            <input type="text" id="title" formControlName="title" />
        </div>
        <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched" style="color: red;">
            Title is required and min length is 10.
        </div>
        <div>
            <label>
        body
        <br />
        <textarea formControlName="body" cols="30" rows="10"></textarea>
      </label>
        </div>
        <div *ngIf="postForm.get('body').invalid && postForm.get('body').touched" style="color: red;">
            Body is required and min length is 10
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
<ul>
    <li *ngFor="let post of postList; index as i">
        <h3>
            <a [routerLink]="['/blog', post.id]">
        Post Id: {{ post.id }} - {{ post.title }}
      </a>
        </h3>
        <a [routerLink]="['/blog', post.id, 'edit']">Edit</a> |
        <button (click)="deletePost(i)">Delete</button>
    </li>
</ul>