<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments/head.html :: head(title='List employee')">
</head>

<body>
    <nav th:replace="fragments/nav-bar.html :: nav-bar(page = 'employee')"></nav>
    <div class="container-fluid">
        <nav th:replace="fragments/side-bar.html :: side-bar(current = 'employee')"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <br/>
            <a href="/create" class="btn btn-sm btn-outline-secondary">Create Employee</a>
            <hr/>
            <h2>List employee</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Full Name</th>
                            <th>Date of Birth</th>
                            <th>Identity Card Number</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Employee Group</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="employee : ${employees}">
                            <td th:text="${employee.employeeCode}"></td>
                            <td th:text="${employee.fullName}"></td>
                            <td th:text="${employee.dateOfBirth}"></td>
                            <td th:text="${employee.idCardNumber}"></td>
                            <td th:text="${employee.phoneNumber}"></td>
                            <td th:text="${employee.email}"></td>
                            <td th:text="${employee.address}"></td>
                            <td th:text="${employee?.employeeGroup?.name}"></td>
                            <td>
                                <a th:href="@{/edit/__${employee.employeeCode}__}"
                                    class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a onclick="return confirm('Are you sure you want to delete this employee?')"
                                    th:href="@{/delete/__${employee.employeeCode}__}"
                                    class="btn btn-sm btn-outline-secondary">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </main>
    </div>
    <th:block th:replace="fragments/head.html :: js"> </th:block>
</body>

</html>