<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Services</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" routerLink="create" class="btn btn-sm btn-outline-secondary">
        Create new service
      </button>
        </div>
    </div>
</div>
<h2>Service list</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Service Id</th>
                <th>Service name</th>
                <th>Area</th>
                <th>Number of floor</th>
                <th>Maximum number of people</th>
                <th>Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of serviceList$ | async">
                <td>{{ service.code }}</td>
                <td>{{ service.serviceName }}</td>
                <td>{{ service.area }}</td>
                <td>{{ service.numberOfFloor }}</td>
                <td>{{ service.maxNumberOfPeople }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.status }}</td>
                <td>
                    <button type="button" [routerLink]="['edit', service.id]" class="btn btn-primary btn-edit">
            Edit
          </button>
                    <button type="button" (click)="onDelete(service.id)" class="btn btn-danger">
            Delete
          </button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <span class="page-link" (click)="previousPage()">Previous</span>
            </li>
            <li class="page-item" [class.active]="currentPage === i" *ngFor="let i of totalPages">
                <span class="page-link" (click)="jumpToPage(i)">{{ i }}</span>
            </li>
            <li class="page-item">
                <span class="page-link" (click)="nextPage()">Next</span>
            </li>
        </ul>
    </nav>
</div>