<ul>
    <li>
        <a routerLink="font-size-editor">Font size editor </a>
    </li>
    <li>
        <a routerLink="pet">Pet app </a>
    </li>
    <li>
        <a routerLink="calculate">Calculate </a>
    </li>
    <li>
        <a routerLink="color-picker">Angular color picker </a>
    </li>
    <li>
        <a routerLink="todo-list">Todo list </a>
    </li>
    <li>
        <a routerLink="component">Practice component </a>
    </li>
    <li>
        <a routerLink="login">Login </a>
    </li>
    <li>
        <a routerLink="register">Register </a>
    </li>
    <li>
        <a routerLink="hero">Hero </a>
    </li>
    <li>
        <a routerLink="name-editor">Name editor </a>
    </li>
    <li>
        <a routerLink="profile-editor">Profile editor </a>
    </li>
    <li>
        <a routerLink="profile-editor-2">Profile editor 2 </a>
    </li>
    <li>
        <a routerLink="life-time">Life time </a>
    </li>
    <li>
        <a routerLink="youtube-playlist">Youtube playlist </a>
    </li>
    <li>
        <a routerLink="dictionary">Dictionary </a>
    </li>
    <li>
        <a routerLink="image-slide">Image slide </a>
    </li>
    <li>
        <a routerLink="image-gallery">Image gallery </a>
    </li>
</ul>
<br />
<router-outlet></router-outlet>