<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog manager</title>
</head>
<body>
<form th:action="@{/blog-manager/create}" th:object="${blog}" method="post">

    <label for="title">Title: </label><br>
    <input type="text" name="title"
           th:field="*{title}" id="title" placeholder="Title"><br>
    <label for="description">Description: </label><br>
    <textarea name="description"
              id="description" th:field="*{description}" cols="30" rows="10"></textarea><br>
    <label for="content">Content: </label><br>
    <textarea name="content"
              id="content" th:field="*{content}" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Create">
</form>
</body>
</html>