<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div>
    <a th:href="@{/blog-manager/create}">Create a new blog</a>
</div>
<hr>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog : ${blogs}">
        <td th:text="${blog.id}"></td>
        <td><a th:href="@{/blog-manager/view/{id}(id = ${blog.getId()})}" th:text="${blog.title}"></a></td>
        <td th:text="${blog.description}"></td>
        <td><a th:href="@{/blog-manager/edit/{id}(id = ${blog.getId()})}">[Edit]</a></td>
        <td><a th:href="@{/blog-manager/delete/{id}(id = ${blog.getId()})}" onclick="return confirm('Are you sure?')">[Delete]</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>